body {
   padding: 50px 0;
   font-size: 13px;
   font-family: "Lato";
   font-style: normal;
   font-weight: 400;
}

h1 {
   font-size: 36px;
   line-height: 73px;
   margin-bottom: 25px;
}

p {
   font-size: 17px;
   line-height: 26px;
   margin-bottom: 35px;
}

#ggvis-container{
  padding-top: 10px;
  padding-bottom: 5px;
}